[2020-02-08 04:02] ManigandanRaamanathan opened #1 "OnClose animation on Adnroid is not smooth"
OnClose animation on Adnroid is not smooth. When closing the modal, the close ending position in android device few pixel higher than real location. @dev-yakuza

[2020-02-08 05:05] ManigandanRaamanathan commented on #1
@dev-yakuza also provide the option to modify the animation types. Like fade in or fade out. Based on react native animatable library. Thanks

[2020-02-10 02:53] dev-yakuza commented on #1
@ManigandanRaamanathan
thanks for feedback.
I checked bug and will fix soon.

and I'll think about animation types!

thnaks

[2020-02-10 03:13] #1 closed, assigned to nobody

[2020-03-20 20:00] zlep opened #5 "[2787,"RCTView",1,{"renderToHardwareTextureAndroid":true,"left":"<<NaN>>","top":"<<NaN>>","width":"<<NaN>>","height":"<<NaN>>","transform":[{"scale":1},{"translateX":0},{"translateY":0}]}] is not usable as a native method argument"
[2787,"RCTView",1,{"renderToHardwareTextureAndroid":true,"left":"<<NaN>>","top":"<<NaN>>","width":"<<NaN>>","height":"<<NaN>>","transform":[{"scale":1},{"translateX":0},{"translateY":0}]}] is not usable as a native method argument

Crashes on android (simulator only?).

[2020-03-21 07:09] dev-yakuza commented on #5
@zlep

can you explain your situation more?

1. only crashed on an Android device? the emulator is OK?
2. could you test with Example project in this repository?
3. can you share your source code?

thanks.

[2020-03-21 14:17] zlep commented on #5
1.) It crashes on Android simulator. Unfortunately I don't have a real Android device to test.
iOS is working, both, simulator and real device.

2.) same behaviour

3.) I removed it for now, sorry, but it was nothing special, just like this:

`<View style={MainStyles.productImageContainer}>
        <View
          style={{ backgroundColor: Colors.grey_1, width: 150, height: 150 }}

          <Imag

[2020-03-22 06:41] dev-yakuza commented on #5
@zlep

thanks for replying.

I also tested on Android emulator and device after your report.
however, I didn't find any problem.

my version info is like below.

[code]

can you share your version info?

thanks!

[2020-03-22 09:35] zlep commented on #5
Thanks. I reinstalled the package and wiped the data of the android simulator. It seems to be working now. Strange.

Edit: The only thing I notice is a little laggy closing animation on android. iOS is smooth.

[2020-03-22 09:45] dev-yakuza commented on #5
@zlep it's great news!

sorry, I am not helpful...but you solve it! great!

a little laggy closing animation on android because of the emulator, I think.
If you test it on Android device, you can see smooth animation like iOS.
I close this issue. If you have still laggy animation on Android device, please make another issue.

thanks!

[2020-03-22 09:46] dev-yakuza commented on #5
@zlep it's great news!

sorry, I am not helpful...but you solve it! great!

a little laggy closing animation on android because of the emulator, I think.
If you test it on Android device, you can see smooth animation like iOS.
I close this issue. If you have still laggy animation on Android device, please make another issue.

thanks!

[2020-03-22 09:46] #5 closed, assigned to nobody

[2020-03-24 01:22] gbfriendship opened #6 "Can it do picture carousel"
Very necessary

[2020-03-24 01:45] dev-yakuza commented on #6
@gbfriendship

When you click an image, and that image is full size.
And then, Do you want to swipe to show other pictures?

If you go to another picture by swipe and close the modal, do you want to close to original image?

Please let me know what you want

Thanks

[2020-04-04 22:31] Keplyx opened #9 "Animation problem on Expo"
I started using your lib and it works perfectly on bare react native.

Sadly, I need to use expo and I found a small bug: When closing the modal, the animation stops a few pixels below the starting point, freezes there a few milliseconds, and teleports to its original position.

See the following GIF:
![image-modal-bug](https://user-images.githubusercontent.com/23726131/78462583-e62b5d00-76d3-11ea

[2020-04-04 22:40] Keplyx opened #10 "Zoom under fingers"
Right now, the zoom works quite well but can feel counter intuitive when zooming at details not in the image's center.

**Desired behavior:**
When using pinch-to-zoom, zoom under fingers and allow image panning while holding with two fingers.

**Current behavior:**
When using pinch-to-zoom, the image zooms at the center of the screen, which is not necessarily where the user has its fingers.

[2020-04-16 00:37] dulcehc opened #11 "Malformed calls from JS: field sizes are different"
I have this same issue https://github.com/dev-yakuza/react-native-image-modal/issues/5, it only happens on Android. I tested on a physical device.

I'm using Expo 36, react-native 0.61 and react-native-image-modal: 1.0.1

![image](https://user-images.githubusercontent.com/19391835/79402029-59dd2d80-7f50-11ea-9cd7-3bf405075d8a.png)

[2020-04-16 01:58] dev-yakuza commented on #11
Hi, there.

Thanks for reporting.

I think this is related [5#issuecomment-602171074](https://github.com/dev-yakuza/react-native-image-modal/issues/5#issuecomment-602171074).

So, can you try this?

1. reinstall: `rm -rf node_modules` and `npm install`
1. watchman watch-del-all
1. remove build folder: `rm -rf android/app/build`(I don't know expo is the same path)
1. remove bundle file: `rm android

[2020-04-16 15:03] dulcehc commented on #11
Thanks for your quick response @dev-yakuza. I tried executing those steps but still get the same result. Also I tested in a simulator:

![image](https://user-images.githubusercontent.com/19391835/79472409-6b165080-7fc9-11ea-9dc3-e14d957f7adc.png)

[2020-04-17 00:15] dev-yakuza commented on #9
Sorry to reply too late.

I will check this library on Expo!
And I will fix it asap!

thanks!

[2020-04-17 00:22] dev-yakuza commented on #11
Sorry to hear that 😭

I will test this library on Expo
And I will find and fix it asap.

thanks

[2020-04-17 00:24] dev-yakuza commented on #10
Your suggestion is very reasonable! 👍

I will improve it asap

thanks!

[2020-04-17 00:28] dev-yakuza commented on #10
I tested it.

It is weird as you say. sometimes, pinch-to-zoom works well. I mean I can zoom to fingers center, not image center, but sometimes, pinch-to-zoom just zooms image center.... 🤔

I will check it.

thanks for reporting!

[2020-04-17 10:18] dev-yakuza commented on #11
@dulcehc Can you share your Node version?

If you use Node 13 version, Can you downgrade to 12 version and test it?
(because I didn't get the error message, I am node 12, and mac )

- Mac

[code]

- windows

[code]

[2020-04-17 12:12] dev-yakuza commented on #9
@Keplyx

I've checked and I think this is because of `translucent` in Expo

[code]

If you set like above, you can solve this problem. I didn't find better solutions.

[2020-04-17 13:24] dev-yakuza commented on #9
I added `isTranslucent` props for this issue.

You can see the example for Expo.

https://github.com/dev-yakuza/react-native-image-modal/blob/75139318cb6459db947d607fa38d520914bfab4c/ExampleWithExpo/App.tsx#L54-L76

I close this issue.

thanks

[2020-04-17 13:24] #9 closed, assigned to nobody

[2020-04-17 13:25] dev-yakuza commented on #11
I checked, but I couldn't find this issue. 🤔

I added Expo example. You can test it.

https://github.com/dev-yakuza/react-native-image-modal/tree/75139318cb6459db947d607fa38d520914bfab4c/ExampleWithExpo

[2020-04-17 13:47] dev-yakuza commented on #11
I fixed the suspicious code.

please try 1.0.4 version and let me know the result 🙇

Thanks!

[2020-04-17 14:28] dulcehc commented on #11
actually, I'm using `Node 12.13.0`

[2020-04-17 14:34] dulcehc commented on #11
Thanks for taking time to look into this. I tested your example with Expo on my Android device and it's working, there's only a weird effect when opening/closing the modal.

I updated my project with version 1.0.4 but I get the same error. The difference with your example is that it's an ejected Expo project and the version is 36.

[2020-04-17 14:42] dev-yakuza commented on #11
1
I am sorry. I am not familiar with Expo.
I executed the command below to create Expo and install my library

[code]

So, I think I didn't eject the Expo project. Am I right?
Example link is [here - ExampleWithExpo](https://github.com/dev-yakuza/react-native-image-modal/tree/develop/ExampleWithExpo)

2
I searched about how to init with the specific version in Expo. but I couldn't get the solution

[2020-04-17 14:47] Keplyx commented on #9
Thank you ! I tried your example and it works, but in my project, the isTranslucent prop does not change anything (and yes I updated the lib). Settings the status bar to not translucent in app.json fixes it as you said, but I cannot do that.

Maybe this is due to react navigation? I'll try to find more information on the issue.

[2020-04-17 14:51] dev-yakuza commented on #9
Sorry to hear that 😭

How about Expo version?
If you can share your project, please share it to find the problem together.

thanks.

[2020-04-17 15:07] dulcehc commented on #11
You can try to change the version by updating these lines:
[code]

Right, you aren't using the ejected version. For my project, I have to add custom native functionality, that's why executed `expo eject` and I have the folders for ios and android in my working directory.

![image](https://user-images.githubusercontent.com/19391835/79583897-45557e00-8093-11ea-9a73-fffb0f29fed0.png)

[2020-04-17 15:13] dev-yakuza commented on #11
Thanks for sharing. I will test again on Expo 36. 👍

is it possible to share your project? I think it's better to see your project directly

thanks

[2020-04-17 18:37] Keplyx commented on #9
The project I am working on is quite big, so I instead tried to reproduce the issue in a smaller project to try and find the source.

The problem lies with react navigation headers.

I took your example, installed `@react-navigation/native` and `@react-navigation/stack` (with all necessary dependencies), and rendered the screen inside a stack navigator. The view jumps whether I use `isTranslucent`

[2020-04-17 19:07] Keplyx commented on #9
I ended up following [expo recommendations on handling the StatusBar](https://docs.expo.io/versions/latest/guides/configuring-statusbar/) with 3rd party libraries and it now works perfect!

I the end, I keep the bar translucent so that is matches the splash screen, then I use:

[code]

To match the current dynamic theme

[2020-04-18 00:26] dev-yakuza commented on #9
Cool! I am happy to hear that! ❤️

and thanks for sharing your solution. I hope your command helps someone!

thanks.

[2020-04-19 04:55] dev-yakuza commented on #11
I tested on Expo 36 and eject the project, but I couldn't get the error message 😭
It's quite difficult if I don't get the error message, because I can't debug it...

I released 1.0.5 version. You can set `renderToHardwareTextureAndroid` in this version.
Can you set `renderToHardwareTextureAndroid={false}` and test it?
(Because I've seen your second error image, said about `renderToHardwareTextureA

[2020-04-19 05:44] dulcehc commented on #11
Thanks again for looking into this issue!
I have executed the previous steps, removing node_modules and installing all dependencies, and now using version 1.0.5. I get an error by setting renderToHardwareTextureAndroid={false}:

![image](https://user-images.githubusercontent.com/19391835/79680555-8efab180-81d6-11ea-86d0-53b3ccfc70c4.png)

I don't know what could be the issue in my project :(. For

[2020-04-19 05:55] dev-yakuza commented on #11
I am sorry to hear that. I fixed the suspicious code and just released 1.0.6.
Can you test it for me, please? 🙇
I really hope this solves this issue. 🙏

[2020-04-19 06:16] dulcehc commented on #11
Same error :(

![image](https://user-images.githubusercontent.com/19391835/79680985-54474800-81db-11ea-8b88-643cefe4afad.png)

[2020-04-19 06:55] dev-yakuza commented on #11
I am so sad to hear that😭
Can you share your android version?

[2020-04-19 16:36] dulcehc commented on #11
Physical device: Android 8.0
Simulator: Android 9.0

[2020-04-21 08:58] subhamg commented on #11
I'm getting this error too. Did whatever you asked in your past comments.
Using version 1.0.6 and Expo 37
![WhatsApp Image 2020-04-21 at 2 26 06 PM](https://user-images.githubusercontent.com/16704675/79846503-27ae4e80-83dc-11ea-946b-7de954375bef.jpeg)

[2020-04-21 09:31] dev-yakuza commented on #11
@subhamg @dulcehc
can you guys share your package.json?

@subhamg is your project also ejected?

[2020-04-21 10:01] subhamg commented on #11
package.json
![image](https://user-images.githubusercontent.com/16704675/79853203-6268b480-83e5-11ea-9f1a-70b7693b9ef6.png)
![image](https://user-images.githubusercontent.com/16704675/79853235-6a285900-83e5-11ea-9ae6-6da9cc3c965a.png)

@dev-yakuza No, my project is not ejected.

[2020-04-21 12:40] dev-yakuza commented on #11
@subhamg
Thanks.

Can you share your source code? or Can you make a new project and make this error and share it? 🙏

because I couldn't make this error, and it is very difficult to fix this issue. 😭

[2020-04-21 13:37] dev-yakuza commented on #11
@subhamg

I fixed the suspicious code.
please try 1.0.7 version and let me know the result 🙇
Thanks!

[2020-04-21 16:40] subhamg commented on #11
I'm still getting the same error. 😭
![WhatsApp Image 2020-04-21 at 10 10 49 PM](https://user-images.githubusercontent.com/16704675/79890462-26514600-841d-11ea-8dae-682636cdf185.jpeg)
![image](https://user-images.githubusercontent.com/16704675/79890736-8f38be00-841d-11ea-85f4-d5bab2e384ca.png)

Here is the code.
![image](https://user-images.githubusercontent.com/16704675/79890864-bbecd580-841d-11ea

[2020-04-21 16:50] dulcehc commented on #11
@dev-yakuza here is my file

{
  "version": "1.0.0",
  "private": true,
  "devDependencies": {
    "@babel/plugin-proposal-class-properties": "^7.3.0",
    "babel-core": "^6.26.3",
    "babel-eslint": "^10.0.1",
    "babel-jest": "^24.1.0",
    "babel-preset-env": "^1.7.0",
    "eslint": "^5.13.0",
    "eslint-config-standard": "^12.0.0",
    "eslint-plugin-import": "^2.16.0",
    "eslint-plugin-n

[2020-04-22 00:11] dev-yakuza commented on #11
I think it is out of my skills.
So, I've asked the communities on Facebook.
I hope someone helps me to solve this issue.

@dulcehc @subhamg
sorry to make you inconvenience. 🙇‍♂️

[2020-04-22 00:25] usamamoinakhter commented on #11
This error is generated when you are passing some value from react native to native android, and the native android is calling some function using the received value and the received value is null.

[2020-04-22 01:22] dev-yakuza commented on #11
@dulcehc @subhamg
Can you guys share Expo snack? 🙏

[2020-04-22 01:25] dev-yakuza commented on #11
@usamamoinakhter thanks!
I understand it, but I didn't make a custom native feature. I just used Modal and Animated.View.
So, is it related to react native issue? 😭

[2020-04-22 04:17] dev-yakuza commented on #11
@dulcehc @subhamg
Guys, can you try this one?

[react-native issue 28233](https://github.com/facebook/react-native/issues/28233?fbclid=IwAR0T_o-lRjBM8ojF2vMh-wPjV2L3PmK1ABa3mXzYgFsedOZFGp8D9cMi4UI#issue-576076122)

[2020-04-22 19:40] subhamg commented on #11
I tried and still getting the same error.

[2020-04-25 03:19] subhamg commented on #11
@dev-yakuza I think we are getting this issue because you have used animated for animation. It's deprecated as mentioned in the [Doc](https://reactnative.dev/docs/modal#animated). Can you please check this again?
Thank you

[2020-04-25 08:13] dev-yakuza commented on #11
@subhamg

Thanks for sharing, but I don't use `animated` props for the modal. 😭

https://github.com/dev-yakuza/react-native-image-modal/blob/fcde097336dda3cfe2a409f4d789524dee3ee077/src/ImageDetail/index.tsx#L700-L706

But I found this answer because of your opinion.

https://stackoverflow.com/a/38877780/13316596

So, I try to remove Modal for this library!

thanks!

[2020-04-25 12:31] dev-yakuza commented on #11
@subhamg just simple question. when do you get this error?

1. touch the image to show modal?
1. pinch-zoom?

I tried to remove modal but it is impossible. If I remove modal, I couldn't show full screen. 😭

[2020-04-25 12:46] dev-yakuza commented on #11
I fixed the suspicious code.
and release 1.0.8.

Please update and test it, and let me know the result 🙇

[2020-05-14 02:55] stevesaygoodbuycom opened #12 "can't load a big image"
https://image.bada.io/files//crawling/2020/05/13/bhu/47147762_16fab2ff86b1307e9.jpg

size 963kb

can't load..

How can I do?

[2020-05-20 09:34] tastafur commented on #11
@dev-yakuza To me this error has happened to me working with the image component of react native when in certain circumstances they reached the height, an undefined value, so I solved it by painting only the image when it really had the height value

[2020-05-20 10:44] tastafur commented on #6
Hello
@dev-yakuza Must want something like what's done here https://github.com/ascoders/react-native-image-viewer

[2020-05-21 00:16] dev-yakuza commented on #6
@tastafur
Thanks for giving the opinion. I understand the point, but I want this repository to be simple.(Honestly, there are so many libraries like react-native-image-viewer... 😭)

[2020-05-21 00:18] dev-yakuza commented on #11
@tastafur
Thanks for sharing your solution. 🙇‍♂️

So, when the image doesn't have height value, this error occurs, and if the image has height value, this library works well.

Is my understanding right?

[2020-05-21 00:27] dev-yakuza commented on #12
I think this library doesn't suit this kind of image.

![Simulator Screen Shot - iPhone 11 - 2020-05-21 at 09 26 19](https://user-images.githubusercontent.com/42969906/82510289-27bd7d80-9b45-11ea-83ca-6b85014a8338.png)

[code]

[2020-05-21 03:32] stevesaygoodbuycom commented on #12
그럼 방법이 없는거네요? 긴 이미지는? 다른 줌 컴퍼넌트는 없을까요?

2020년 5월 21일 (목) 오전 9:27, JeongHean Kim <notifications@github.com>님이 작성:

[2020-05-21 05:13] dev-yakuza commented on #12
네...이 라이브러리로는 조금 힘들거 같습니다....다른 라이브러리도 아마 원하시는 동작을 정확히 해줄지 모르겠네요.ㅠㅠ

https://github.com/ascoders/react-native-image-viewer

[2020-05-21 05:38] stevesaygoodbuycom commented on #12
감사합니다 ~ 구글에서 근무하시나봐요.  저희 회사는 시애틀에 있습니다^^

2020년 5월 21일 (목) 오후 2:13, JeongHean Kim <notifications@github.com>님이 작성:

[2020-05-21 06:10] dev-yakuza commented on #12
아니요 저도 구글에서 일해보고 싶네요 😭 시애틀! 멋지시네요 👍
죄송하지만, 여기는 react-native-image-modal에 관한 이슈를 다루는 부분이여서요.
혹시 라이브러리 이외에 궁금하신 부분이 있다면, dev.yakuza@gmail.com으로 연락주시면 감사하겠습니다.

감사합니다.

[2020-05-21 07:47] stevesaygoodbuycom commented on #12
불러오네요~

근데 화질이 엄청 뿌연데... 왜 그럴까요?

2020년 5월 21일 (목) 오후 3:10, JeongHean Kim <notifications@github.com>님이 작성:

[2020-05-21 07:51] stevesaygoodbuycom commented on #12
[image: image.png]

위가 imageModal
아래가  fastimage 입니다.

fastimage는 괜찮습니다...

2020년 5월 21일 (목) 오후 3:10, JeongHean Kim <notifications@github.com>님이 작성:

[2020-05-21 08:25] stevesaygoodbuycom commented on #12
[image: image.png]

image를 FastImage로 변경하니 화질도 좋아졌네요. 감사합니다.

혹시 리액트 네이티브 전문가 재택근무로 구할 수 없을까요?

저희 앱 개발 중인데 튜닝해 줄...   속도가 많이 느려서요.. 특히 아이폰에서

2020년 5월 21일 (목) 오후 4:50, Steve Ryu <steve@saygoodbuy.com>님이 작성:

[2020-05-21 08:42] dev-yakuza commented on #12
사진이 보이지 않습니다 😭 사진을 다시 올려주시면 확인해 보겠습니다.

[2020-07-08 16:51] lucas123ho opened #13 "`useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`"
**Warning:** `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

This warning was displayed when i updated expo to version 38.0.0

[code]

It still works, but it would be nice to fix it. This parameter must have become required in the most recent version of react native.

[2020-07-08 21:28] dev-yakuza commented on #13
Thanks for reporting!
I will check it asap!

[2020-07-09 04:04] dev-yakuza commented on #13
@lucas123ho

I fixed it. Please update and use `v1.0.9`.

Thanks

[2020-07-09 04:04] #13 closed, assigned to nobody

[2020-08-29 11:25] dlogvin opened #17 "Image not rendering?"
Hey, tried to use this lib, seemed exactly what I need... but for some reason it is not loading the image...

Here is my code:

[code]

Result:

![Simulator Screen Shot - iPhone 11 - 2020-08-29 at 14 22 41](https://user-images.githubusercontent.com/62754263/91635730-795a8b80-ea03-11ea-9102-e9ab8ab61ae4.png)

[2020-08-29 11:47] dlogvin commented on #17
Whoops, forgot to add the width. Is there any example that is non-typescript for setting the width automatically?

[2020-08-29 11:50] dlogvin commented on #17
And, borderRadius is not working on this :(

[2020-08-30 00:18] dev-yakuza commented on #17
Sorry. you should set the width to display the image. 😭

[2020-08-30 00:26] dev-yakuza commented on #17
You can use `borderRadius`. just remove the `imageBackgroundColor` props.

[2020-08-30 00:27] #12 closed, assigned to nobody

[2020-08-30 00:27] #6 closed, assigned to nobody

[2020-09-01 07:10] #17 closed, assigned to nobody

[2020-09-24 10:03] KinanKazmi opened #21 "Closing the full modal"
How do i programmatically close the full screen view without having to tap the X ?
`<ImageModal ref = {ref => this.previewBox = ref}...`
`this.previewBox.close()` or something ?

[2020-09-24 11:00] dev-yakuza commented on #21
Hi @KinanKazmi

First, Thanks for using this library.

Unfortunately, this library doesn't support closing the modal programmatically, now.

But I will try to add it!

[2020-09-24 11:05] KinanKazmi commented on #21
Hey! Thanks for getting back so quick!
By far this is the best library that fills all my other requirements.
I know i just have to call `_close()` in the ImageDetail file somehow so i could make a local copy of this and modify it a little but unfortunately i dont know shit about typescripts, so I'm stuck for now. :(

[2020-09-24 11:08] KinanKazmi commented on #21
This is my view requirement btw.
So i need to be able to close the full-screen view if the user clicks on any of the buttons i made on the bottom.

<img width="381" alt="Screenshot 2020-09-24 at 4 07 07 PM" src="https://user-images.githubusercontent.com/20215123/94137573-087e8600-fe80-11ea-91f8-c3b9daec3c81.png">

[2020-09-24 11:12] dev-yakuza commented on #21
I am so sorry to hear that you stuck in typescript 😭

And I got your point. it's very important that the user makes the custom close button.
So I'll add it asap 👍

[2020-09-24 12:40] KinanKazmi commented on #21
Thanks :)
Waiting for the update.

[2020-09-24 13:10] dev-yakuza commented on #21
I checked my source code, and I found that it actually has the customize feature.

https://github.com/dev-yakuza/react-native-image-modal/blob/9cd10bc8331de1b7624e34d61fd255ffd4e14e0c/src/index.tsx#L32-L33

I just forgot them. 😅
But it doesn't have a feature that hides the default closing button, so I added and you can use it on v1.0.11

## Example

And I added the example about how to add the cus

[2020-09-24 13:22] KinanKazmi commented on #21
It works! thanks a ton :)

by the way hideCloseButton doesn't hide the X.
But i want to keep it, so its not a problem for me
Cheers!

[2020-09-25 00:57] dev-yakuza commented on #21
Could you update the `react-native-image-modal` version(v1.0.11)?

Great! 👍  I will close this issue.

Thanks

[2020-09-25 00:57] #21 closed, assigned to dev-yakuza

[2020-10-07 20:40] vrgimael commented on #21
Do you know if it would be difficult to simply add a ref so we could close the modal programatically? This would be even better as the modal might need to be closed according to other events, not only touches on the UI.

What I'm thinking is a glitch when you quickly flick through an image modal item on a flatlist and this triggers both momentum scroll and opening of the modal. As a result, the mo

[2020-10-07 20:43] vrgimael opened #24 "Quickly flicking on a modal item on list causes momentum zoom glitch"
Basically, when you have a react-native-image-modal item on a flatlist, there is always the risk that the user would scroll so fast it's almost tapping, and this triggers both opening of the modal, and momentum scrolling of the list.

As a result the item animates back to the wrong position on the list because the list moved while it was fullscreen.

A potentially easy workaround could be exposing

[2020-10-10 06:43] dev-yakuza commented on #21
Hi @vrgimael ✋

Thanks for your opinions and for reporting the bug. 🙇‍♂️

I will add the `ref` and `disabled` props and I think it will solve the bug with scrolling.
You can disable and enable the opening model feature when the user scrolls the list. 🤔

I will add them asap! 🚀

Thanks

[2020-10-10 07:46] dev-yakuza commented on #21
@vrgimael

Now, you can use `Ref` to close the modal programmatically.

Please update the `react-native-image-modal` to `v1.0.12`.

1. import `useRef`
    https://github.com/dev-yakuza/react-native-image-modal/blob/b5257b1928d17c6456f38df53b9bc66fff2390ef/Example/App.tsx#L1
1. import `ImageDetail` type if you use typescript
    https://github.com/dev-yakuza/react-native-image-modal/blob/b5257b1928

[2020-10-10 07:52] dev-yakuza commented on #24
Hi @vrgimael ✋

Could you try the new version(`v 1.0.12`) of `react-native-image-modal`? 🙏

1. import `useRef`
    https://github.com/dev-yakuza/react-native-image-modal/blob/b5257b1928d17c6456f38df53b9bc66fff2390ef/Example/App.tsx#L1
1. import `ImageDetail` type if you use typescript
    https://github.com/dev-yakuza/react-native-image-modal/blob/b5257b1928d17c6456f38df53b9bc66fff2390ef/Example/A

[2020-10-15 12:02] tastafur opened #25 "MemoryLeak in flatList"
Hello @dev-yakuza ,

I have a list of images implemented in your library to make posts and in this line I get a memory leak that ends up making the app work badly. I've been trying to fix it and haven't been able to.

https://github.com/dev-yakuza/react-native-image-modal/blob/develop/src/index.tsx#L149

![Captura de pantalla 2020-10-15 a las 13 57 49](https://user-images.githubusercontent.com/118

[2020-10-20 19:13] vrgimael commented on #24
Hi @dev-yakuza thanks for the quick response and sorry I didn't have the time to try this yet - will let you know as soon as I can

[2020-11-12 10:43] deepak9705 opened #26 "Image orientation"
Image opened in potrait mode does not change to landscape when device rotated.it is locked in potrait mode.

Current behaviour: image clicked in potrait mode take full screen.it remains in potrait even device is rotated.

Expected behaviour: image rotate with the device rotation.

[2020-11-12 15:44] alexgyllos opened #27 "."

[2020-11-12 16:03] #27 closed, assigned to nobody

[2020-11-13 00:00] dev-yakuza commented on #26
Hi @deepak9705 ✋

I will check it asap 🚀

[2020-11-13 00:02] dev-yakuza commented on #25
Hi @tastafur 😃

Thanks for your report. 🙇‍♂️  I will check it asap 🚀

[2020-11-13 07:35] deepak9705 commented on #26
Please see the attached photos.

Photo in potrait mode
![16052531392446363974653038291196](https://user-images.githubusercontent.com/61225854/99041712-6cd0e280-25b1-11eb-939a-45612090e161.jpg)

Photo in landscape mode
![16052531587061031555750681242399](https://user-images.githubusercontent.com/61225854/99041743-778b7780-25b1-11eb-8c9e-1e53a12bc992.jpg)

[2020-11-14 06:14] dev-yakuza commented on #26
@deepak9705

I fixed it. Could you try `1.0.15`? 🙏

If you still have the problem, please re-open the issue.

Thanks

[2020-11-14 06:14] #26 closed, assigned to dev-yakuza

[2020-11-14 06:15] dev-yakuza commented on #25
@tastafur

I removed the logic of it. Could you try `1.0.15`? 🙇‍♂️

If you still have the problem, please re-open the issue and let me know it.

Thanks

[2020-11-14 06:15] #25 closed, assigned to dev-yakuza

[2020-12-10 05:43] nazacity opened #29 "Cannot interact with renderHeader and renderFooter"
I can't click on Tounchopacity
instead of clicking tounchopacity it is zoomed
        <ImageModal
          isTranslucent={false}
          resizeMode="contain"
          imageBackgroundColor={COLORS.background}
          overlayBackgroundColor="rgba(0,0,0,0.3)"
          source={item.picture_url}
          renderFooter={(onClose) => (
            <TouchableOpacity
              onPress={onClose}

[2020-12-11 02:17] nazacity opened #30 "is possible to fix border radius"
https://drive.google.com/file/d/1SbUa-gSHwUzzOauQY89J5Xdr7QtDGG7a/view?usp=sharing

check this video

is possible to implement border radius more smoothly

[2020-12-14 11:42] dev-yakuza commented on #29
Hi @nazacity

There is an example of the `renderFooter`. And it works well on my local.

https://github.com/dev-yakuza/react-native-image-modal/blob/06bd0e24f5f6f6848f9c7ec9b4aeb116c184326a/Example/App.tsx#L156-L178

Could you check it on your local?

Thanks

[2020-12-14 12:14] dev-yakuza commented on #30
Hi @nazacity

I am not sure this change solves your issue. But if i add the `borderRadius` style in here, I can make it like below.

https://github.com/dev-yakuza/react-native-image-modal/blob/06bd0e24f5f6f6848f9c7ec9b4aeb116c184326a/src/ImageDetail/index.tsx#L693-L700

![ezgif com-gif-maker](https://user-images.githubusercontent.com/42969906/102079302-c9911880-3e4f-11eb-8a57-2b26727fee84.gif)

So

[2020-12-14 12:32] dev-yakuza commented on #30
I updated the version. Could you try to use `v1.0.16`?

You can see the sample code in here.

https://github.com/dev-yakuza/react-native-image-modal/blob/24e9dab9217da29c135c961e172f03de05b0627b/Example/App.tsx#L247-L263

[2020-12-16 02:25] #30 closed, assigned to nobody

[2020-12-16 02:25] #29 closed, assigned to nobody

[2020-12-16 02:26] #11 closed, assigned to nobody

[2020-12-16 02:26] #24 closed, assigned to nobody

[2020-12-20 18:29] Razorholt commented on #10
Yup, same issue here. The pinch-to-zoom is not working well.
Other than that, I'm very pleased with your script. Thank you!

[2020-12-24 17:33] MatiSera opened #31 "[Android] Malformed calls from JS: field sizes are different"
**RN version**: 0.63.2
**react-native-image-modal version**: ^1.0.16

Hi! I'm having this issue only in Android when I press in the image and try to open the modal
![image](https://user-images.githubusercontent.com/30613888/103101084-a0614c80-45f4-11eb-803c-25db721110d6.png)

And in console the error says:
![image](https://user-images.githubusercontent.com/30613888/103101097-afe09580-45f4-11eb-84a

[2020-12-24 22:37] dev-yakuza commented on #31
Thanks for your reporting!

Could you try it again with `2.0.0` and `react-native-fast-image`?

https://github.com/dev-yakuza/react-native-image-modal#installation

[2020-12-28 13:37] MatiSera commented on #31
I'm still having error when trying to open the image
![image](https://user-images.githubusercontent.com/30613888/103217738-1963eb00-48f8-11eb-82bf-1a7d26f3599b.png)

"react-native-image-modal": "2.0.0",
"react-native-fast-image": "^8.3.4"

This is what the error print in the terminal
![image](https://user-images.githubusercontent.com/30613888/103217824-4c0de380-48f8-11eb-8cc4-010fa58d75a3.png)

[2020-12-28 23:44] dev-yakuza commented on #31
Do you use `hermes` on Android?

[2021-01-26 05:55] m0nk-lee opened #32 "about image style size and resizeMode"
I am going to make 40x40 image.

`<ImageModal style={{width: 40, height: 40}} />`

However, if do this, the quality of the picture becomes extremely poor in modal image like a forced extension of a 40x40 image.

- Can the original image size be 40x40 while maintaining the quality of the modal image?
- And can I set the `reziseMode` props of the original image and the modal image differently?

[2021-01-27 00:27] dev-yakuza commented on #32
@asor7007

Thanks for your reporting. 🙇‍♂️
I will check it asap. 🏃‍♂️

[2021-01-31 18:31] dbotman opened #33 "Animated node with tag *** does not exists"
On Android.
iOS is working fine.

![Screenshot_1612110552](https://user-images.githubusercontent.com/61114720/106394047-c56a8b80-63fa-11eb-8acf-104261c20dd0.png)

react-native-image-modal: 2.0
react-native: 0.63
react-native-fast-image: 8.3.4

[2021-02-01 00:32] dev-yakuza commented on #33
@dbotman

Thanks for your reporting.

Could you give me more details?
I mean, Can you try to use the example of this library on the same device or simulator?
I am not sure which is the problem, I want you to test with the example in the library.

Thanks

[2021-02-01 09:25] shriphani commented on #33
Facing this issue as well, running this using yarn android on a device, same config as @dbotman

[2021-02-01 09:54] dbotman commented on #33
I have it with a physical Android device and with the simulator.
I can test it with the example later. But I see that @shriphani have the same issue.

[2021-02-02 17:54] alessiocancian commented on #33
I have the same problem, I think it's related to #11  and #31

I see errors like these in console:
[code]

[code]

[2021-02-02 18:36] alessiocancian commented on #33
I investigated a little more, found out that `measureInWindow` gets called with a value of undefined for all params (x, y, width and height), which results in NaN values sent to native code.

I fixed the crash by adding `onLayout` prop to the root View (see [https://github.com/facebook/react-native/issues/3282](url)).
I'm sending a PR right now.

[2021-02-02 20:21] dbotman commented on #33
@alessiocancian I changed the file you've changed in the PR. But the issue still exists.

[2021-02-02 20:27] alessiocancian commented on #33
If you change it inside `node_modules` folder you need to change the js file inside `dist` folder because the library is compiled before publishing.

I temporary released the PR here if you want to try it: https://www.npmjs.com/package/react-native-image-modal-android-fix

[2021-02-02 21:11] dbotman commented on #33
@alessiocancian Fixed! Many thanks!

[2021-02-02 22:49] #33 closed, assigned to nobody

[2021-02-03 23:45] diaazzawi opened #35 "RTL Support"
This is a very nice library but, unfortunately, it has a bug in right-to-left (RTL) devices. This is my scenario:

1. Device language is Arabic (RTL).
2. I have tow images side by side.
3. If I open the left image then close the ImageModal, the image animates to the right spot then adjusts itself to the correct position (left spot), which is funny. The opposite happens when opening and closing the

[2021-02-03 23:48] diaazzawi opened #36 "Custom Close Button Component"
Is there a way to support custom component for the close button? It would be a nice feature.

[2021-02-04 00:22] dev-yakuza commented on #36
Hi @diaazzawi

Thanks for using this library.

You can use the custom header or footer component. See the example below.

https://github.com/dev-yakuza/react-native-image-modal/blob/fa282ace56b40429539942f3842eff4dda511eff/Example/App.tsx#L156-L178

You can hide the current close button with `hideCloseButton`, and add the custom component on the header or footer with `renderHeader` or `renderFoote

[2021-02-04 00:24] dev-yakuza commented on #35
Hi @diaazzawi

Thanks for using this library.

Could you share the video about the bug? I can't imagine it 😭

Thanks

[2021-02-04 02:00] diaazzawi commented on #35
Thank you so much @dev-yakuza for your prompt response. Here is what I'm experiencing when my simulator's language is Arabic or any other RTL-language:

![image_modal_rtl mp4](https://user-images.githubusercontent.com/45443874/106833900-044a4c80-665a-11eb-9754-9d30de762a97.gif)

Thanks

[2021-02-04 02:02] diaazzawi commented on #36
I apologize for missing this part in the documentation. Closing this issue...

Thank you!

[2021-02-04 02:02] #36 closed, assigned to nobody

[2021-02-04 02:05] dev-yakuza commented on #35
@diaazzawi

Thanks for sharing the video.
If you configure the other language(like English), is it working well? 🤔

[2021-02-04 02:14] diaazzawi commented on #35
@dev-yakuza

Yes it works perfectly in other LTR-languages.

Just throwing an idea: It would be AWESOME if you add one more prop (say rtl as boolean) that I can pass to the component and based on its value you'll need to flip the x-coordinate of the last image position.

In the meanwhile, it will be great if you have any temporary workaround.

Thanks!

[2021-02-04 02:17] dev-yakuza commented on #35
@diaazzawi

Thanks for your investigation and idea.
I will fix it when I have time!

[2021-02-04 03:51] diaazzawi commented on #35
@dev-yakuza

Just found where you need to make the necessary changes: Assuming you add a new boolean prop (isRTL) to your component, the _setOrigin function (lines 69-91) in src\index.tsx file should change to:

[code]

:tada: :tada: :tada: :partying_face: :partying_face: :partying_face: I tested the app with the above change in both LTR- and RTL-languages and it PERFECTLY works as expected :party

[2021-02-04 03:55] dev-yakuza commented on #35
@diaazzawi

Thanks so much to implement it.
Could you make a PR? 🙏 If you make it, I will merge it and release it asap!

Thanks

[2021-02-04 04:50] diaazzawi commented on #35
FYI, I just created the above PR.

[2021-02-04 05:01] dev-yakuza commented on #35
@diaazzawi

Thanks for your contribution 🙇‍♂️
I just update the version of the npm package(v2.0.2)
And update the document.

[2021-02-04 05:01] #35 closed, assigned to dev-yakuza

[2021-02-04 05:04] diaazzawi commented on #35
@dev-yakuza

Wonderful. Million thanks to you!

[2021-02-08 03:47] Razorholt opened #38 "Almost there"
First, thank you for this repo! A few things I've noticed:

1.- When you tap the image, it flickers first
2.- The pinch-to-zoom is still a bit buggy
3.- I'd like to be able to adjust the speed - and perhaps the easing - when you release the image

My goal is to try and replicate the behavior that you get on Apple News. So yes, you're almost there!!

[2021-02-08 11:23] dev-yakuza commented on #38
Hi, @Razorholt 👋

Thanks for your reporting and using this library.
I will fix the bug(1, 2) and add the option(3) when I have time! (You can contribute it if you have time :))

[2021-02-11 20:54] itseramin commented on #30
Sorry for opening up this issue again, but my problem is i only want to have resizeMode 'cover' on my preview image while also having borderRadius on it but not when i click on it... so its resizeMode 'contain' and i have no borderRadius on it while opened. Any suggestions for that?

[2021-03-09 18:19] nadavhalfon commented on #32
Was there any progress with the resizeMode dynamic value? 😁

[2021-03-12 00:39] KushaanKapoor opened #39 "ResizeMode for Modal Image"
Hey, I really like this library and I am currently using it in my react native application.

The thing I want to achieve is to have my Viewable Image with resizeMode cover while the Image Modal to have a different resizeMode, like contain.

is there any possible way to achieve this?

[2021-03-12 00:54] dev-yakuza commented on #32
Sorry

recently I am busy working... 😭
I will try to see this issue this weekend.

[2021-03-12 00:56] dev-yakuza commented on #39
Hi @KushaanKapoor ✋

First, thanks for using this library.

I think this issue related to https://github.com/dev-yakuza/react-native-image-modal/issues/32

[2021-03-12 01:02] KushaanKapoor commented on #39
I believe so, yes!

I'll be eagerly waiting for the next update for this library. thanks!

[2021-03-12 01:02] #39 closed, assigned to nobody

[2021-03-12 03:44] #32 closed, assigned to dev-yakuza

[2021-03-12 03:58] dev-yakuza commented on #32
@asor7007 @KushaanKapoor

You can use `modalImageResizeMode` on `v.2.0.3` of the library. 🚀

https://user-images.githubusercontent.com/42969906/110889930-6ae61880-8332-11eb-8efe-4d37a1030590.mov

I hope this update helps you!

https://github.com/dev-yakuza/react-native-image-modal/blob/62e93f53558a9d6e08c444dedb86177e03c225be/Example/App.tsx#L278-L319

[2021-03-12 08:05] nadavhalfon commented on #32
Thank you!

[2021-03-26 18:37] jawang94 opened #41 "Origin Image Border Radius"
Hi there. How would we go about adding a border radius to the origin image? Seems like something with the background is preventing the entire component from inheriting the radius.

[2021-03-27 00:46] dev-yakuza commented on #41
Hi @jawang94

Is it related to https://github.com/dev-yakuza/react-native-image-modal/issues/30#issuecomment-744408824? 🤔

Let me know you can solve your problem with the link or not!

Thanks

[2021-03-27 17:25] jawang94 commented on #41
Yeah great! I realized I needed to add those styles and remove the `backgroundColor` as well. Thanks!

Follow up question, I saw in another ticket there were plans to add options to adjust the speed/easing of animations. Any estimate on this?

Also, I'll try to chip in if I have time but, I think we're re-rendering the origin image with provided props after the modal is dismissed? Seems like we sh

[2021-03-28 01:05] dev-yakuza commented on #41
Yes, I will implement it someday... 😭

You're right. This library will create a new image with the modal and hide the original image. After modal is hidden, the original image is shown up, so the original image is rendered again.

And this is a big issue in this library. However, I couldn't find a good solution to solve it 😭

I will improve this library when I have time. And If you have time, plea

[2021-04-09 09:25] alessiocancian commented on #31
This was fixed with #34

[2021-04-09 10:07] dev-yakuza commented on #31
@alessiocancian Thanks 🙇‍♂️

[2021-04-09 10:07] #31 closed, assigned to nobody

[2021-05-30 20:40] Onibenjo opened #53 "Open modal programmatically"
Is it possible to open the modal programmatically, like on clicking a button?

[2021-05-31 01:10] dev-yakuza commented on #53
Yes, this library doesn't support it. 🙇‍♂️

[2021-05-31 01:11] Onibenjo commented on #53
Ok thanks

[2021-05-31 01:11] #53 closed, assigned to nobody

[2021-06-04 01:30] RyuWoong opened #54 "Fast Image 버그로 인한 Issue"
Fast Image View에 버그가 존재합니다.
따라서 해당 문제를 해결할 방법이 필요합니다.
관련 버그 :  https://github.com/DylanVann/react-native-fast-image/issues/623

[2021-06-04 07:17] dev-yakuza commented on #54
@RyuWoong
버그 리포팅 감사합니다.
현재 라이브러리를 사용하시면서 같은 문제가 발생하고 계신가요?

혹시

https://github.com/DylanVann/react-native-fast-image/issues/623#issuecomment-679906369

이걸로 해결이 가능하신가요?

[2021-06-25 04:52] RyuWoong commented on #54
@dev-yakuza
저의 무지로 인한 문제 같습니다. 이상없습니다.

[2021-06-25 04:52] #54 closed, assigned to nobody

[2021-06-25 05:08] dev-yakuza commented on #54
@RyuWoong
바쁘시겠지만, 혹시 어떤 부분 때문이였고, 어떻게 해결하셨는지 공유 가능하실까요?
다른 분들도 같은 문제를 겪으실 수 있을거 같아서요.
바쁘시겠지만 잘 부탁드립니다 🙇‍♂️

[2021-07-14 04:30] jagwingchoy opened #58 "Image in modal is blur in Android"
## Description
Hi there! I am using this package inside my app project. The function is working perfectly inside iOS, while in Android the image is blurred inside the modal when I click the image and open it. Does anyone encounter this issue? How do you solve it? Appreciate any help or suggestion.

## Background

#### Working or not:
✅   iOS simulators
✅   iOS real devices
❌   Android emulators
❌

[2021-07-14 08:53] yawijaya96 opened #59 "Invariant Violation: Tried to register two views with the same name FastImageView"
Hello,

- ERROR  Invariant Violation: Tried to register two views with the same name FastImageView
- ERROR  Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication). A frequent cause of the error is that the application entry file path is incorrect. This can also happen when the JS bundle is corrupt or there is an early initialization error when loading

[2021-07-14 08:58] dev-yakuza commented on #58
@jagwingchoy
Is the image file perfectly the same? I mean, do you take a picture and save it and then show it via `react-native-image-modal`?

Basically, the `react-native-image-modal` just shows the image, so I guess the image is different between iOS and Android by other libraries(e.g. take a picture library can make low quality of the image).

[2021-07-14 11:41] dev-yakuza commented on #59
@yudhaaw96

Thanks for reporting.
However, I can't investigate this issue. So, could you give me more details? (e.g. sample code, details about the situation, how to make the same error)

Thanks.

[2021-07-16 03:31] jagwingchoy commented on #58
Hi @dev-yakuza , the image is from network using same link, so basically should be identical.

The issue is happen only in `Android` with smaller size, i.e.:

    ...style={{ height: 100, width: 100 }}

If I change using a larger size e.g. `height: 800, width: 800`, then Android will also show a normal non-blurred image.

[2021-08-30 09:05] dbotman commented on #59
I get the same error:

**ERROR**    Invariant Violation: Tried to register two views with the same name FastImageView

Does anyone have a solution yet?

react-native-image-modal@2.0.3
react-native-fast-image@8.3.7
expo@40.0.1
react-native@0.63.4
react@16.13.1

It seems to happen after the upgrade from Expo 39 to Expo 40

[2021-08-30 12:41] dev-yakuza commented on #59
@dbotman

Please check the `README`.

- https://github.com/dev-yakuza/react-native-image-modal#expo

![Screen Shot 2021-08-30 at 21 39 50](https://user-images.githubusercontent.com/42969906/131340526-e99b4cbb-932e-41ab-8b2e-04f00ea460a1.jpg)

[2021-08-31 12:34] naheed-shamim commented on #59
Try installing react-native-fast-image@8.3.4

[2021-08-31 12:38] yawijaya96 commented on #59
downgrading to version 1.0.16 works for me, no more "Invariant Violation: Tried to register two views with the same name FastImageView"

[2021-08-31 12:38] #59 closed, assigned to nobody

[2021-09-01 12:37] andreialecu commented on #59
Ran into the same issue.

The problem here is that this package defined `react-native-fast-image` as a dependency but it should be in `peerDependencies` instead.

Ref: https://github.com/dev-yakuza/react-native-image-modal/blob/62e93f53558a9d6e08c444dedb86177e03c225be/package.json#L69-L71

The technical reason this happens is because `yarn` may install `react-native-fast-image` twice on two separa

[2021-09-08 02:55] cylim commented on #58
@jagwingchoy Are you able to set the size dynamically when open the modal?

[2021-09-08 09:58] datoonw13 commented on #58
Any update?

[2021-09-09 00:44] cylim commented on #58
My workaround is to set minWidth and minHeight, but it will affect the animation a bit.

[code]

Due to the modalImageStyle had hardcoded width and height to 100%, we can't change it, unless patching the package.

[2021-09-16 03:36] jagwingchoy commented on #58
Hi @cylim,
Thanks for your suggestion. I have tried to change the codes as you mentioned and create a patch to fix this issue.

[code]

@dev-yakuza Not sure if it is the correct fix,
but I do hope you could help to fix the issue in the next release version, thanks.

[2021-09-16 03:36] #58 closed, assigned to nobody

[2021-12-09 08:16] mak12 opened #68 "Styling issue for model image"
Hi, first of all library is great and works smooth.
Now I cam across an issue in the scenario where origin image is round (has border radius) so model image opens complete and in square or rectangle form that's fine too, but when its closing with animation of square and when it reaches origin we see a jerk where model small size image is rectangle and then origin comes with border radius.
For the

[2021-12-09 08:18] mak12 commented on #68
It would be great if we have any control or when closing model image adopts origin image styling.

[2021-12-09 08:39] dev-yakuza commented on #68
@mak12

Is it related to https://github.com/dev-yakuza/react-native-image-modal/issues/30#issuecomment-744408824? 🤔  Could you check it? 🙏

[2021-12-09 13:56] mak12 commented on #68
@dev-yakuza

https://user-images.githubusercontent.com/30626811/145409415-8db32d79-aabd-46bb-82ea-05aa807f8bbb.mov

Please see this recording, and when its closing see the behaviour, when its changing from square to circle

[2021-12-10 00:17] dev-yakuza commented on #68
@mak12

Could you share your code about `<ImageModal />`?

[2021-12-10 06:23] mak12 commented on #68
@dev-yakuza
` <ImageModal
                                    isRTL={isRTL()}
                                    resizeMode="cover"
                                    style={{
                                        alignSelf: 'center',
                                        width:(56),
                                        height:(56),
                                        borderRadius:(56

[2021-12-31 08:18] kinkin626 opened #69 "Multiple image slider"
The zoom functionality works flawlessly and much better compared to other image slider libraries available out there

Can you please add the functionality of multiple images

[2022-01-01 05:34] dev-yakuza commented on #69
@kinkin626 Thanks for using this library.

I'm so sorry, But I don't have any plan to add the multiple-image slider.

Because I want to keep this simple.

If you want to use multiple images, I think you can use other libraries.

- https://github.com/jobtoday/react-native-image-viewing

[2022-01-18 11:54] kinkin626 commented on #69
Hey @dev-yakuza the library you suggested has double finger zoom issue, similarly other library has double tap issue, so I requested for multiple image support

[2022-03-20 16:44] dbotman opened #73 "Use auto height"
Hello @dev-yakuza,

Is there an option or what is the best way to use auto height ?
We want to show the image at 100% width with height based on the image.

[2022-03-21 01:44] dev-yakuza commented on #73
Hi, @dbotman ✋

I'm sorry that this library doesn't support the auto height option. 😭

I think you can make it with the `Image.getSize`.

- Document: https://reactnative.dev/docs/image
- Stackoverflow: https://stackoverflow.com/questions/42170127/auto-scale-image-height-with-react-native

[2022-03-21 07:49] dbotman commented on #73
Hi @dev-yakuza,

Thanks for your answer.

Correct me if i'm wrong, when you use Image.getSize before loading the Image Modal then you download the picture twice.
I am already using this at the moment. I'm see a longer loading time of the pictures when using Image.GetSize before.
When i test with a fixed size the images loading faster.

[2022-03-21 08:03] dev-yakuza commented on #73
Hi, @dbotman

According to the [document](https://reactnative.dev/docs/image#getsize),

To get the size, the image is downloaded, and if you want to prevent downloading the image multiple, you can preload the image.

So, I think you can preload the image by the [prefetch()](https://reactnative.dev/docs/image#prefetch) and then, get the size of the image, and display it with the size. Have you ever

[2022-04-15 08:52] Hanafubuki opened #77 "modalImageResizeMode not working"
Hi, I am trying to use modalImageResizeMode, but it doesn't work. It copies the behavior of resizeMode. I believe it's because I am using expo. Do you have any plans to fix it for expo? Thank you.
Here is my code
`<ImageModal
                                resizeMode="cover"
                                modalImageResizeMode="contain"
                                imageBackgroundColor="#00000

[2022-04-18 17:46] umerqr opened #78 "Android Only - Images when opened are blurry"
When any image is opened, the quality of the image drops. The image is blurry and doesnt appear right. Currently this issue is only on android, is this being faced by anyone else as well?

- Using latest version of the package
- React native version 0.63.4

[2022-04-18 17:50] #78 closed, assigned to nobody

[2022-04-18 17:52] umerqr commented on #78
Duplicated by issue #58

[2022-04-21 04:12] dev-yakuza opened #79 "Add Dependabot"
For checking new versions of libraries, it's good choice to add the `Dependabot`.

- Document: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates

[2022-04-21 04:13] dev-yakuza opened #80 "Add Linter and GitHub actions"
To check PR automatically, Adding Linters`(like ESLint`) to GitHub Actions is needed.

[2022-04-21 04:14] dev-yakuza opened #81 "Add test code"
There is no test code. Let's try to add test code.

[2022-04-21 04:24] #79 closed, assigned to dev-yakuza

[2022-04-21 05:30] dev-yakuza commented on #77
Hi, @Hanafubuki

Have you ever checked the example code?

https://github.com/dev-yakuza/react-native-image-modal/blob/main/Example/App.tsx#L278-L319

https://user-images.githubusercontent.com/42969906/164380887-689fe84d-3fb0-4179-9003-3da5e6b49a91.mov

It looks fine 🤔

[2022-04-21 05:45] dev-yakuza opened #91 "Change husky and lint-staged to Lefthook"
I think it's better to use `Lefthook` instead of `husky` and `lint-staged`.

- Ref: https://dev-yakuza.posstree.com/en/linter/lefthook/

[2022-04-21 06:45] #91 closed, assigned to nobody

[2022-04-21 06:47] dev-yakuza opened #96 "Add CSpell to check typo"
- [ ] Add `CSpell`
- [ ] Add it to GitHub Actions.

[2022-04-21 06:54] dev-yakuza opened #97 "Add Remark linter to check markdown files"
I think checking `README.md` file by `Remark` lint is good for the clean documents.

- Ref: https://dev-yakuza.posstree.com/en/linter/remark-lint/

[2022-04-21 06:55] dev-yakuza opened #98 "Add Stylelint"
Let's add `Stylelint` to check the CSS-in-JS styles.

- Ref: https://dev-yakuza.posstree.com/en/linter/stylelint/

[2022-04-21 06:58] #80 closed, assigned to nobody

[2022-06-07 13:50] fukemy opened #123 "android imageModal does not cover statusBar"
please help:
![Ảnh chụp Màn hình 2022-06-07 lúc 20 50 27](https://user-images.githubusercontent.com/8202437/172397150-46787fe7-8ac8-4dc1-8abf-0a6bbee1a39d.png)

[2022-07-03 23:57] Zeigfreid opened #132 "Add modalRef open method"
I can't open programmatically, I see close function only, is it possible to add open function too?

[2022-07-13 21:25] tonyneel commented on #58
This fixed the issue for me for the images when the modal is active. However the small image before the modal pops up is still blurry. Is there a way to fix that?

[2022-09-30 09:33] artsztu27 commented on #21
I add a custom close button but I can't close the image

version  "react-native-image-modal": "^2.0.4"
[code]

[2022-10-02 06:00] dev-yakuza commented on #21
Hi, @artsztu27

Did you see the example?

https://github.com/dev-yakuza/react-native-image-modal/blob/318eec7d83c47630565a70341be0382638b6cbff/Example/App.tsx#L157-L180

Could you share your code?

Thanks

[2022-10-24 11:52] josemi2201 opened #172 "i can't interative with custom renderFooter"
I'm trying to use `TouchableOpacity` of `react-native-gesture-handler` and the onPress function never work.

With `react-native` button works, but i need   the other component.

i'm using:

- React Native `0.68.1`
- react-native-image-modal `2.0.4`
- react-native-gesture-handler `2.4.1`

[2022-11-03 09:44] approached commented on #41
Try this config:

[code]